.video-one_logo{
    width: 100px;
    height: auto; 
}
.logo_default{
    height:auto;
    width:100px;
}
.logo_sticky{
    height:auto;
    width:100px;
}

.footer-logo{
    height: auto;
    width: 100px;
}

.main-footer{
    height: 500px;
}